@model restaurantWebApp_BAL.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div style="height:30px"></div>
<h2>Every Thing You Need You Can Find Here</h2>
<p>Delicous Food On The Grill, Fresh And Hot Drinks,Alot Of Pastries And Sweet Dessert .</p>
<p><small>This line of text is meant to be treated as fine print.</small></p>

<div style="height:30px"></div>
<div class="row">
@foreach(var item in Model.Categories!){

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-right:10px; float:left; border-radius:20px">
      <a href="@Url.Content("/Categories/Details/" + item.Id )" class="list-group-item list-group-item-action flex-column align-items-start active">
     
      <div class="card-header">@item.Name</div>
      <div class="card-body">
      <img src="@Url.Content("~/images/" + item.Image)" alt="Sample Image" style="border-radius:20px" class="d-block user-select-none" aria-label="Placeholder: Image cap" focusable="true" width="270" height="270" />
       @* <p class="card-text">@item.Description</p>*@
      </div>
  
     </a>
      </div>
       
}
</div>
