@model restaurantWebApp_BAL.ViewModels.MealsViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>MealDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categoriesList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                
                    <input asp-for="Image" class="form-control" type="file" id="formFile>
                  
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @*    <script>
        $(document).ready(function () {
            $("#Save").click(function () {
                var Meal = new Object();
                Meal.name = $('#name').val();
                Meal.price = $('#price').val();
                Meal.price = $('#description').val();
                Meal.price = $('#categoryId').val();
                $.ajax({
                    url: '/api/meals/',
                    type: 'POST',
                    dataType: 'json',
                    data: Meal,
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            });
        });
    </script>*@
}
